# Node / RN generales
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Builds/caches
dist/
build/
coverage/
.expo/
.expo-shared/
.expo-dev-client/
.expo-web/
web-build/
*.jks
.expo/*
.expo-shared/*
.expo/*

# Metro / bundlers
.haste/
metro-cache/
.expo/*
.cache/
.tmp/
temp/

# iOS / Android (build outputs + native folders for CNG/Prebuild)
ios/
android/

# IDE
.vscode/
.idea/
*.iml

# SO / varios
.DS_Store
Thumbs.db

# Env / secretos
.env*
!.env.example

# Tests snapshots (si no quieres subirlos)
*.snap

# Electron / Desktop builds
dist-electron/
electron-dist/
release/
*.dmg
*.exe
*.AppImage
*.deb
*.rpm

# Mobile builds
*.aab
*.apk
*.ipa
*.app

# Credentials (NEVER COMMIT)
*.p12
*.cer
*.mobileprovision
*.certSigningRequest
android-service-account.json
*.json.key

# Logs
*.log
npm-debug.*
yarn-debug.*
